body {
	color: #000080; 
	font-family: arial; 
}
h1
p
ul {
    list-style-type: none;
}
li
img
#slogan {
	font-style: italic; 
	color: #000080; 
	font-family: arial;
}
#footer {font-family: Verdana, Geneva, sans-serif;
}